body{
      font-family: "Work Sans", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      
}
    
h3{
    /* // <uniquifier>: Use a unique and descriptive class name

.work-sans-<uniquifier> { */
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  

}
.header{
  background-color:  #fff;
  background-image: url('../images/banner/banner1.png');
 background-size: cover;
  margin-bottom:0;

  
}

.banner{
  padding: 216px 450px 220px 800px;

 
}
 
.banner-title{
    width: 525px;
  height: 228px;
  font-size: 65px;
  font-weight: bold;
  text-align: right;
  color: #151414;
  
}

    
 .banner-description{
    width: 494px;
    height: 78px;
    margin: 24px 0 32px 31px;
    font-size: 16px;
    text-align: right;
    color: #444343;
    padding-right: 320px;
 }
        

 .btn-primary{
  width: 160px;
height: 64px;
flex-grow: 0;
margin: 32px 0 0 365px;
padding: 21px 25px 20px 26px;
  border-radius: 5px;
  background-color: #f15b22;
  font-size: 20px;
font-weight: 600;
text-align: right;
color: #fff;
border: 0;
}
.section-title{
  width: 288px;
  height: 94px;
  margin: 0 128px 24px 0;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #151414;

  /* padding: 350px 450px 850px; */
}

.failures{
  padding: 350px 214px 300px 900px;
 
  
}

.section-description{
  width: 416px;
  height: 104px;
  margin: 24px 0 16px;
  font-size: 16px;
  text-align: left;
  color: #444343;
}
li{
  width: 315px;
  height: 26px;
  /* margin: 0 0 0 10px; */
  font-size: 16px;
  text-align: left;
  color: #444343;
}


main .failures{
  background-image: url('../images/person.png');
  background-repeat: no-repeat;
  background-position: calc(220px);
}
.title{
  padding: 130px 800px 30px 600px;
  /* margin: 0 600px 50px 400px; */
  width: 179px;
  height: 47px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #151414;
}
/* .plan-container{
  display: flex;
  /* gap: 70px; */
  margin: 0 100px;
 /* justify-items: center; */
 /* justify-content: space-evenly; */
} */
/* .plan-title{
  /* width: 270px;
  height: 35px; */
  /* margin: 0 0 16px; */
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #151414;
  padding-right: 90px;
} */
/* .plan-description{
  /* width: 181px;
  height: 29px; */
  /* margin: 16px 0 0; */
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #737272;

} */

main{
  max-width: 1600px;
  margin: 0 auto;
}
.plan-container{
  display: flex;
  text-align: center;
  /* padding: 50px 100px; */
}

#item-pic{
  padding:60px 100px 10px 100px;
}
.plan-title{
  padding: 18px 90px;
}
.plan-description{
  /* padding: 10px 100px; */
}

.img-container{
  background-image: url('../images/watch.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 130px 230px;
  border-radius: 8px;
}
.img-description{
  
    width: 459px;
    height: 94px;
    margin: 0 0 24px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding: 60px 600px 20px 64px;
}
